/* APP MAIN CSS */

/* * {
    box-shadow: inset 0px 0px 1px rgba(255, 0, 0, 0.5);
} */

a{
    text-decoration: none;
}

a:hover{
    color: gold;
}

h2, h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navegacao {
    background-color: rgb(153, 171, 195);
    color: black;
    
}

.rodape {
    background-color: rgb(60, 75, 81);
    color: white;
}

.nav-item{
    text-decoration: none;
    color: white;
    margin: 0px 6px;
}

.nav-item:hover{
    text-decoration: underline;
    color: white;
}

.box-product{
    border: 1px solid rgba(150, 150, 150, 0.6);
    border-radius: 12px;
}

.btn-150{
    width: 150px;
}

.rodape-overlay{
    margin-bottom: 90px;
}