/* APP MAIN CSS */

/* * {
    box-shadow: inset 0px 0px 1px rgba(255, 0, 0, 0.5);
} */

a {
  text-decoration: none;
}

a:hover {
  color: gold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-150 {
  width: 150px;
}

.navegacao {
  background-color: rgb(153, 171, 195);
  color: black;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin: 0px 6px;
}

.nav-item:hover {
  text-decoration: underline;
  color: white;
}

.box-product {
  border: 1px solid rgba(150, 150, 150, 0.6);
  border-radius: 12px;
}

.rodape {
  background-color: rgb(60, 75, 81);
  color: white;
}

.rodape-overlay {
  margin-bottom: 90px;
}

/* CORES */
.text-a1a1a1 {
  color: #a1a1a1;
}

/* STATUS CLICK */
.status-click {
  cursor: pointer;
}
